<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linc Softwares | Payments</title>
</head>
<body>
    <h1>Make Payments</h1>
    <form action="/stk_push" method="post">
        {% csrf_token %}
        <label for="phone">Phone Number</label>
        <input type="text" name="phone" id="phone" required>
        <br>
        <label for="amount">Amount</label>
        <input type="text" name="amount" id="amount" required>
        <br>
        <button type="submit">Pay</button>
</body>
</html>